
{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <p class="lead">Welcome to BadukTube, a curated database of educational videos for Baduk/Weiqi/Go players.</p>

                    <h3>Lets Go!!</h3>
                    <p> This site is Part 2 of the <a href="https://soumyak4.in/project/Lets-Go/">Lets Go!!!!</a> Project by <a href="https://soumyak4.in">SoumyaK4</a>. 
                    The Other Part being <a href="https://weiqi.soumyak4.in">Weiqi Roadmap</a>.
                    </p>

                    <h3>Backstory</h3>
                    <p>
                        All the videos(pre March 2025 videos only) you see on this website was part of my Baduk Lecture PKM(something like obsidian/notion), but it had accessibility issues, and I've been thinking of turning this into a website since 2023. Well finally 2025 magic :)<br>
                        So I decided to make a website to make it accessible from anywhere and to everyone(Assuming there's a lot of others like me who finds it hard to search for a specefic Go lecture on YouTube).
                    </p>

                    <h3>Mission</h3>
                    <p>
                        This site's mission is to make high-quality Baduk learning resources easily accessible to players of all levels. We carefully select and organize video lectures covering various aspects of the game, from basic rules to advanced strategic concepts.<br>
                        This site is named BadukTube because it collects the free Baduk videos from YouTube, and make is easier to acces them using the search filters solely created for finding the exact kind of video we want to look for.
                    </p>

                    <h3>What We Offer</h3>
                    <ul>
                        <li>A searchable database of Baduk video lectures</li>
                        <li>Filter content by topics, tags, and difficulty levels</li>
                        <li>Helpful for both Players and Teachers as a searchable lecture database</li>
                        <li>Curated collections for focused learning</li>
                    </ul>

                    <h3>For Whom</h3>
                    <p>Whether you're a complete beginner just learning the rules, an amateur player looking to improve, or an advanced player seeking deeper insights, Baduk Lectures has content tailored for your level.</p>

                    <h3>Credits</h3>
                    <p>
                        Firstly all the creators on youtube making free educational content for us. <br>
                        Secondly the creater of the site logo <a href="https://www.instagram.com/stonedonthegoban/" target="_blank">Stoned on the Goban</a>.
                    </p>

                    <h3>Contribute</h3>
                    <p>
                        Initially I imported over 500 videos in bulk from my PKM so a lot of videos might not have been assigned proper tags/topics/ranks.
                        <ul>
                            <li>If any rank, tag and topic isn't correctly assigned to any specefic video let me know.</li>
                            <li>If you have any suggestions for new tags or topics, please let me know.</li>
                            <li>Create a youtube playlist with videos with relevant topics and share it with me.</li>
                            <li>Or create a youtube playlist with videos from similar ranks and share it with me.</li>
                            <li>Videos should be in English or have English subtitles</li>
                        </ul>
                        You can find my socials at the bottom of the page. DM me anywhere.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}