{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row">
        {% for collection in collections %}
        {% if not collection.is_paid %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if collection.lectures|length > 0 %}
                <div class="card-img-top collection-thumbnail">
                    <img src="{{ collection.lectures[0].thumbnail_url }}" class="img-fluid" alt="{{ collection.name }}">
                </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ collection.name }}</h5>
                    <p class="card-text">{{ collection.description }}</p>
                    <p class="card-text">
                        <small class="text-muted">
                            <i class="fas fa-clock"></i> Total duration: 
                            {% if collection.total_duration.hours > 0 %}{{ collection.total_duration.hours }}h {% endif %}
                            {{ collection.total_duration.minutes }}m {{ collection.total_duration.seconds }}s
                        </small>
                    </p>
                    <p class="card-text"><small class="text-muted">{{ collection.lectures|length }} lectures</small></p>
                    <a href="{{ url_for('view_collection', collection_id=collection.id) }}" class="btn btn-primary">View Collection</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/video.js') }}"></script>
{% endblock %}